[submodule "u-boot-pine64"]
	path = u-boot-pine64
	url = https://github.com/longsleep/u-boot-pine64.git
	branch = pine64-hacks
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/longsleep/arm-trusted-firmware
	branch = allwinner-a64-bsp
