[submodule "u-boot"]
	path = u-boot
	url = git://git.denx.de/u-boot.git
[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/apritzel/arm-trusted-firmware
	branch = allwinner
